body {
  font-family: "Libre Franklin", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
  background-attachment: fixed;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 4px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadce1;
  border-radius: 10px;
  background: white;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 80px;
  width: 80px;
  position: relative;
  top: -18px;
}

.weather-temperature strong {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

small {
  font-size: 12px;
  margin: 4px;
}
